#admin-body .header .nav {
    /* width: 20px; */
    margin-left: 0;
    padding-left: 20px;
    float: left;
    width: 75%;
}

#admin-body .header .logo {
    float: right;
    width: 220px;
    text-align: center;
    font-size: 18px;
    color: #FFF;
}